/* class */
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /* Other cell styles... */
    border: 1px solid #ccc; /* Border style */
 }
 .cell.revealed {
    border: none; /* Remove border for revealed cells */
 }
 .cell.adjacent-1 {
    color: #0000ff; /* Blue */
 }
 .cell.adjacent-2 {
    color: #008200; /* Dark green */
 }
 .cell.adjacent-3 {
    color: #ff0000; /* Red */
 }
 .cell.adjacent-4 {
    color: #800080; /* Purple */
 }
 .cell.adjacent-5 {
    color: #800000; /* Maroon */
 }
 .cell.adjacent-6 {
    color: #008080; /* Teal */
 }
 .cell.adjacent-7 {
    color: #000000; /* Black */
 }
 .cell.adjacent-8 {
    color: #808080; /* Dark gray */
 }
 .cell.flagged::before {
    content: "🚩";
 }
 .mine-cell {
    background-color: red;
 }
/* id */
 #gameboard {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
 }