    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #2196f3;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        main {
            padding: 20px;
            text-align: center;
        }
        .tab {
            display: none;
        }
        .tab.active {
            display: block;
        }
        .tab-link {
            background-color: #eee;
            border: none;
            color: #0275dd;
            cursor: pointer;
            padding: 10px;
            margin: 10px;
            font-weight: bold;
        }
        .tab-link.active {
            background-color: #0275dd;
            color: #fff;
        }
        textarea {
            border: 1px solid #ccc;
            height: 300px;
            padding: 10px;
            width: 100%;
            resize: none;
        }
        button {
            background-color: #0275dd;
            border: none;
            color: #fff;
            cursor: pointer;
            padding: 10px;
            margin: 10px;
            font-weight: bold;
        }
        #word-count {
            margin-top: 0px;
            text-align: left;
        }
    </style>