:root {
   --font-default: "Segoe UI", Arial, sans-serif;
   --font-monospace: "Lucida Consolas", "Consolas", "Courier New", monospace;
   --color-white: #fff;
   --color-orange: #f93;
   --color-dark-orange: #f71;
   --color-red: #d00;
   --color-light-red: #e44;
   --color-green: #090;
   --color-blue: #009;
   --color-light-blue: #07f;
   --color-lighter-blue: #6bf;
   --color-brown: #6b4e3d;
   --color-light-brown: #b69481;
   --color-black: #000;
   --color-dark-grey: #333;
   --color-light-grey: #bbb;
   --color-pale-pink: #ffeaea;
   --color-dark-green: #060;
   /* default */
   --color-background-default: #fff;
   --color-background-almost-default: #f5f5f5;
   --color-background-variation-1: #eee;
   --color-background-variation-2: #bbb;
   --color-text-default: #222;
   --color-text-variation-1: #333;
   --color-text-variation-2: #555;
   --color-text-link: #6b4e3d;
   --color-text-link-hover: #999;
   --color-border-default: #bbb;
   --color-border-variation-1: #999;
   --color-brown: #6b4e3d;
}
h2.title {
   text-align: center;
   margin-top: 0px;
   margin-bottom: 10px;
}
table {
   margin-top: 0px;
   margin-bottom: 10px;
   border-collapse: collapse;
   margin: 0px auto;
   width: 80%;
}
th, td {
   border: 1px solid black;
   padding: 8px;
   text-align: center;
}
th {
   text-align: center;
}
td {
   text-align: left;
}
table.noborder {
   margin-top: 0px;
   margin-bottom: 0px;
   border-collapse: collapse;
   border: none;
   margin: 0px auto;
   width: 80%;
 }
table.bold {
   font-weight: bold;
}
table.noborder td,
table.noborder th {
  border: none;
  padding: 8px;
}
table.width40{
   width: 40%;
}
table.width50{
   width: 50%;
}
select {
   font-size: 16px;
 }
input[type="checkbox"] {
   transform: scale(1.5);
 }
input[type="checkbox"]:checked {
   background-color: var(--color-orange); 
   border-color: var(--color-orange);
   color: var(--color-background-default);
}
input[type="number"] {
   font-size: 1.1em;
}
textarea {
   border: 1px solid #ccc;
   height: 300px;
   padding: 10px;
   width: 100%;
   resize: none;
}
form > * {
   margin: 10px 0;
}
label {
   font-size: 16px;
   color: var(--color-text-variation-1);
}
/* self defined class*/
.containers {
   margin: 0 auto;
   text-align: left;
   width: 50%;
   justify-content: center;
   align-items: center;
}
.photo_canvas_containers {
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
}
.btn {
   font-size: 16px;
   background-color: var(--color-background-variation-1);
   padding: 10px 20px;
   border: none;
   margin-bottom: 10px;
   color: var(--color-text-default);
   border-radius: 5px;
   transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.btn:hover {
   background-color: var(--color-orange);
   color: var(--color-background-default);
 }
.btn:active {
   background-color: var(--color-orange);
   color: var(--color-background-default);
}
.btn_s {
   font-size: 14px;
   background-color: var(--color-background-variation-1);
   padding: 8px 12px;
   border: none;
   margin-bottom: 7px;
   margin-right: 5px;
   color: var(--color-text-default);
   border-radius: 5px;
   transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.btn_s.active {
   background-color: var(--color-orange);
   color: var(--color-background-default);
}
.btn_s:hover {
   background-color: var(--color-orange);
   color: var(--color-background-default);
 }
.nav_sub {
   @extend .nav;
   /* Additional styles for nav_sub go here */
 }
.terrence_world_logo {
   float: right;
   padding-left: 10px;
}
.tab {
   display: none;
}
.tab.active {
   display: block;
}
.name_form {
   display: flex;
   justify-content: center;
   align-items: center;
 }
.time_display {
   color: var(--color-text-variation-1);
}
/* self defined id*/
#password {
   font-size: 20px;
   text-align: center;
   margin-top: 0px;
   padding: 20px;
   background-color: #f2f2f2;
   border-radius: 10px;
   width: 80%
}
#generate {
    margin-top: 10px;
}
#copy {
    margin-top: 10px;
}
#photo_canvas {
   max-width: 500;
   max-height: 500;
   margin-left: auto;
   margin-right: auto;
 }
#photo_add_textInput {
   border: 1px solid #ccc;
   height: 100px;
   padding: 10px;
   width: 100%;
   resize: none;
}
#tool-types a.current {
   background-color: var(--color-orange);
   color: var(--color-white);
 }